.canvasWrapper {
    border: 1px solid;
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.header {
    width: 800px;
    border: 1px solid;
    height: 50px;
    margin: 0;
    text-align: center;
}